[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "glow"]
	path = glow
	url = https://github.com/traversc/glow
[submodule "qs"]
	path = qs
	url = https://github.com/traversc/qs
[submodule "qs2"]
	path = qs2
	url = https://github.com/traversc/qs2
[submodule "seqtrie"]
	path = seqtrie
	url = https://github.com/traversc/seqtrie
[submodule "stringfish"]
	path = stringfish
	url = https://github.com/traversc/stringfish
